body {
	background-color:#e2e2e2;
}

#main {
	background-color: #eee;
	padding-top: 0px;
	padding-left: 30px;
	margin-top: 0px; 
	box-shadow: 0 0 5px #888;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
}

.row {
	 
}

.tabs {
	padding-left: 150px;
	margin-bottom: 0px;
	border-color: #444;
}

.tabs .active a{
	background-color: #eee;
	color: #000; 
}

.tabs .active a:hover{
	background-color: #eee;
	color: #000; 
}

.container {
	
}

a {
	color: #dd0000;
}

a:hover {
	color: #dd0000;
}