---
layout: default
section: blog
---


<h2>Hi all!</h2>

<br />

<p>My name is Roman Tronenko and you are visiting my blog.</p>
<p>
I write rather seldom, but I will try to share my thoughts,
ideas and impressions... if I get inspired.
</p>

<hr /> 
<h3>Blog Posts:</h3> 
<ul>
  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> : <a href="{{ post.url }}">{{ post.title }}</a> 
		{% if post.category == "music" %}
			<a href="/music"><span class="music label">Music</span></a>
		{% endif %} 
	</li> 
  {% endfor %}
</ul>


<p>I'm currently enjoying life in Shanghai, China. Originally I am from the suburbs of Saint-Petersburg, Russia. 
	As I am not a native English-speaker, this blog is also a way for me to improve my English skills. So, if you find
	some grammar mistakes or inaccuracies, you are more than welcome to tell me. Please leave comments.
</p>
<br>