<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% if page.title %}{{ page.title }} |{% endif %} Tronenko.net {% if page.category == "music" %} | Music{% endif %}</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css" /> 

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
	<script type="text/javascript" src="/js/jquery.jplayer.min.js"></script> 
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29387696-1']);
	  _gaq.push(['_trackPageview']);
	 
	
	  $(function() {	   
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		 
		$('#like_btns').hide();
		 
		$('#like_btns').delay(4000).fadeIn('slow'); 

		$('a').each(function() {
			if ($(this).data("mp3")){
				return;
			}
		   var a = new RegExp('/' + window.location.host + '/');
		   if(!a.test(this.href)) {
		       $(this).click(function(event) {
		           event.preventDefault();
		           event.stopPropagation();
		           window.open(this.href, '_blank');
		       });
		   }
		});
	});
	</script>
</head>
<body> 
	<script type="text/javascript">	
	

		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })(); 

		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=348352448538441";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		
		
	</script>	
	<div id="fb-root"></div>
	<ul class="tabs">
	  <li {% if page.section == "blog" %} class="active"{% endif %}><a href="/">Blog</a></li>
	  <li {% if page.section == "music" %} class="active"{% endif %}><a href="/music">Music</a></li>
	  <li {% if page.section == "travel" %} class="active"{% endif %}><a href="/travel">Travel</a></li>
	
	</ul>
  <div id="line"></div>
  <div id="main" class="container">
 
    <header>
      <h1><a href="/"><img src="/images/logo.png" alt="Tronenko.net" id="logo_img"/></a></h1>
    </header>

    <div class="row">
      <div class="span10">

      {{ content }}
      
        
		<ul>
		{% if page.next.url %}
		<li>Next: <a href="{{page.next.url}}" title="{{page.next.title}}">{{page.next.title}}</a>			
			{% if page.next.category == "music" %}
				<a href="/music"><span class="music label">Music</span></a>
			{% endif %}
		</li>
		{% endif %}
		{% if page.previous.url %}
		<li>Previous: <a href="{{page.previous.url}}" title="{{page.previous.title}}">{{page.previous.title}} {{post.next.category}}</a> 		
			{% if page.previous.category == "music" %}
				<a href="/music"><span class="music label">Music</span></a>
			{% endif %}
		</li>
		{% endif %}
		</ul>
      </div>
	   
      <div class="span6">
		  <div id="contacts">
	        <p></p>

	        <h4>How to contact me:</h4>

	        <ul>
	          <li><a href="mailto:roman@tronenko.net">Email</a></li>
	          <li><a href="http://facebook.com/tronenko">Facebook</a></li>
	          <li><a href="http://twitter.com/morphium">Twitter</a></li>
	          <li><a href="http://github.com/morphium">GitHub</a></li>
	          <li><a href="http://stackoverflow.com/users/716477/morphium">StackOverflow</a></li>
	        </ul>
	      </div> 
      </div>
		<div class="span6"> 
			 <div id="like_btns">
				<p></p>
				<div class="fb-like" data-send="false" data-layout="button_count" data-width="550" data-show-faces="true" data-font="lucida grande"></div>
				<p></p>
				<g:plusone size="medium"></g:plusone>
				<p></p>
				<a href="https://twitter.com/share" class="twitter-share-button" data-via="morphium" data-hashtags="tronenko">Tweet</a>
				<p></p>
				<a href="http://bufferapp.com/add" class="buffer-add-button" data-count="horizontal">Buffer</a><script type="text/javascript" src="http://static.bufferapp.com/js/button.js"></script>
				<p></p>
			</div>  
		</div>

    </div>
    
    <div class="row">
      <div class="span10">
		<div id="disqus_thread"></div>
	  </div>
	</div>
    <footer>
      <p><small>Footer goes here.</small></p>
    </footer>
 
  </div> 
</body>
</html>