<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% if page.title %}{{ page.title }} |{% endif %} Tronenko.net {% if page.category == "music" %} | Music{% endif %}</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css" /> 

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29387696-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<ul class="tabs">
	  <li {% if page.section == "blog" %} class="active"{% endif %}><a href="/">Blog</a></li>
	  <li {% if page.section == "music" %} class="active"{% endif %}><a href="/music">Music</a></li>
	
	</ul>
  <div id="line"></div>
  <div id="main" class="container">
 
    <header>
      <h1><a href="/"><img src="/images/logo.png" alt="Tronenko.net" /></a></h1>
    </header>

    <div class="row">
      <div class="span10">

      {{ content }}
      
      
      <iframe src="https://www.facebook.com/plugins/like.php?href=http://tronenko.net{{ page.url }}"
       scrolling="no" frameborder="0"
       style="border:none; width:450px; height:80px"></iframe>

      </div>
	   
      <div class="span6">
			  <div id="contacts">
        <p></p>

        <h4>How to contact me:</h4>

        <ul>
          <li><a href="mailto:roman@tronenko.net">Email</a></li>
          <li><a href="http://facebook.com/tronenko">Facebook</a></li>
          <li><a href="http://twitter.com/morphium">Twitter</a></li>
          <li><a href="http://github.com/morphium">GitHub</a></li>
          <li><a href="http://stackoverflow.com/users/716477/morphium">StackOverflow</a></li>
        </ul>
	      </div>
      </div>
    </div>
    
    <div class="row">
      <div class="span10">
		<div id="disqus_thread"></div>
	  </div>
	</div>
    <footer>
      <p><small>Footer goes here.</small></p>
    </footer>
 
  </div> 
</body>
</html>