<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% if page.title %}{{ page.title }} |{% endif %} Tronenko.net</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css" /> 

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js">
  </script>
  <script type="text/javascript" src="/js/jquery.jplayer.min.js">
  </script>
</head>
<body>
	<ul class="tabs">
	  <li {% if page.section == "blog" %} class="active"{% endif %}><a href="/">Blog</a></li>
	  <li {% if page.section == "music" %} class="active"{% endif %}><a href="/music">Music</a></li>
	
	</ul>
  <div id="main" class="container">
 
    <header>
      <h1><a href="/"><img src="/images/logo.png" alt="Tronenko.net" /></a></h1>
    </header>

    <div class="row">
      <div class="span10">

      {{ content }}
       
      </div>
      <div class="span6">
        <p></p>

        <h4>How to contact me:</h4>

        <ul>
          <li><a href="mailto:roman@tronenko.net">Email</a></li>
          <li><a href="http://facebook.com/tronenko">Facebook</a></li>
          <li><a href="http://twitter.com/morphium">Twitter</a></li>
          <li><a href="http://github.com/morphium">GitHub</a></li>
          <li><a href="http://stackoverflow.com/users/716477/morphium">StackOverflow</a></li>
        </ul>
      </div>
    </div>
 
    <footer>
      <p><small>Footer goes here.</small></p>
    </footer>
 
  </div> 
</body>
</html>